[2018-06-02 06:34] yegor256 opened #1 "why Zold is faster than others?"
Let's explain it in the white paper

[2018-06-02 06:35] yegor256 opened #2 "Why Zold is cheaper?"
Let's explain it.

[2018-06-02 06:51] ajdevy opened #3 "Not clear what should be hashed"
On page 5 of the white paper it is written:
"Then, the node attempts to append any arbitrary **_text_**, which has to match
/[a-zA-Z0-9]+/ regular expression, to the end of the prefix and calculates
SHA-256 hash of the _**text**_ in the hexadecimal format. For example, this
would be the prefix with the attached 16bda66 suffix:"

It is not clear which text should be hashed, the whole string or only

[2018-06-02 06:58] ajdevy opened #4 "Tailing zeros explanation in white paper"
1) In the white paper page 6 it is stated that the node attempts to find a hash with "few tailing zeros", and the first one is with 7 tailing zeros, but in the white paper it is stated that there are 6 tailing zeros.
2) It is unclear if the next hash has to have to same amount of tailing zeros as it's predecessor
3) It is unclear what is the minimal amount of tailing zeros, 2?

[2018-06-02 07:24] ajdevy opened #5 "Unclear metrics of CPU power"
"The strength of the score is the amount of the trailing zeros in the hash."  - is it assumed that the more tailing zeros you can find, the more CPU power you have?

[2018-06-02 07:26] ajdevy opened #6 "Unclear motivation of why a transactions Id should point to a beneficiaries wallet ID"
"Transactions with positive amount don’t have signatures. Their IDs point to ID fields of corresponding beneficiaries’ wallets."

[2018-06-02 09:35] alex-semenyuk opened #7 "A small typo"
Page 3 (twice Plancoin)

Similar to many other digital currencies—including Bitcoin,Etherium, **Plancoin**, Monero, Trinity, **Plancoin**, Dero, and many others—Zold nodes find consensus by comparing the amount of CPU power invested by
each of them into finding hash suffixes, performing certain expensive and meaningless calculations

[2018-06-04 20:07] yegor256 commented on #7
@alex-semenyuk please, submit a pull request

[2018-06-05 10:18] DronMDF opened #10 "Term "invoice" is not clear"
Invoice - this is a part of score prefix.
How score(invoice) corellate with wallets/transactions?

In 8th part score used for select right wallet.
Invoice is wallet id?

[2018-06-05 10:18] 0crat commented on #10
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-05 10:18] 0crat commented on #10
@dronmdf[/z](https://www.0crat.com/u/dronmdf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB08FTCNQ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-05 10:30] oltdaniel opened #11 "proof of work - better calculation"
Use a better proof of work process to make a more meaninful work.

Also the score should use more parameters to be more specific

[2018-06-05 10:30] 0crat commented on #11
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-05 10:30] 0crat commented on #11
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB08FTCNQ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-06 14:39] DronMDF opened #13 "RESTful API 'version' and 'X-Zold-Version' is zold locked"
Node can use alternative implementations, and software version сan be very different.

It would be correct to use the protocol version.

[2018-06-06 14:39] 0crat commented on #13
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-06 14:39] 0crat commented on #13
@dronmdf[/z](https://www.0crat.com/u/dronmdf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB08FTCNQ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-06 14:50] DronMDF opened #14 "Home page does not contain score time"
[code]
What makes it impossible to check the score.
Node can publish fake score.

[2018-06-06 14:50] 0crat commented on #14
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-06 14:50] 0crat commented on #14
@dronmdf[/z](https://www.0crat.com/u/dronmdf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB08FTCNQ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-07 12:11] DronMDF opened #15 "Positive/negative transaction inverted in chapter 8"
4. If the transaction is positive and its signature is not valid, it is ignored;
5. If the transaction is negative and it’s absent in the paying wallet (which
is fetched and merged first), it’s ignored;

Shoild be:
Negative transaction should be signed and valid.
Positive transaction should be present in paying wallet as negative.

[2018-06-07 12:11] 0crat commented on #15
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-07 12:11] 0crat commented on #15
@dronmdf[/z](https://www.0crat.com/u/dronmdf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB08FTCNQ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-13 08:16] DronMDF opened #19 "The order of sorting transactions is not defined."
TLDR: In my opinion, we need rules for recognizing transactions as invalid. And the remaining transactions just sorted, so it was beautiful. :)

I see several cases that are not described in the WP.
In chapter 8 the order of mergers is described.
[code]
This is not blockchain.  This is not problem. There may be situations where transaction 5 enters the network earlier than transaction 4. I do not

[2018-06-13 08:16] 0crat commented on #19
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-13 08:16] 0crat commented on #19
@dronmdf[/z](https://www.0crat.com/u/dronmdf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB08FTCNQ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-13 12:59] DronMDF opened #20 "Node propagate API not described."
No described API which will allow new nodes to join the network.

[code]
Next, the nodes between themselves agree. And without this it is not clear how.

[2018-06-13 13:00] 0crat commented on #20
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-13 13:00] 0crat commented on #20
@dronmdf[/z](https://www.0crat.com/u/dronmdf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB08FTCNQ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-20 05:18] yegor256 commented on #7
@alex-semenyuk thanks!

[2018-06-20 05:18] #7 closed

[2018-06-20 05:22] #14 closed, assigned to nobody

[2018-06-20 05:33] yegor256 opened #23 "more details"
Let's add more details here and there

[2018-06-20 05:34] 0crat commented on #7
The job is not in WBS, won't close the order

[2018-06-20 05:34] 0crat commented on #7
Job `gh:zold-io/papers#7` is not assigned, can't get performer

[2018-06-20 05:38] 0crat commented on #15
The job is not in WBS, won't close the order

[2018-06-20 05:38] 0crat commented on #15
Job `gh:zold-io/papers#15` is not assigned, can't get performer

[2018-06-20 05:38] 0crat commented on #14
The job is not in WBS, won't close the order

[2018-06-20 05:38] 0crat commented on #14
Job `gh:zold-io/papers#14` is not assigned, can't get performer

[2018-06-20 06:19] oltdaniel commented on #11
@yegor256 We talked about to choose a better proof of work algorithm to stop this meaningless iteration of hashes.

[2018-06-20 06:27] rultor commented on #23
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15003-398637694) (spent 3min)

[code]

[2018-06-20 06:28] yegor256 commented on #23
@rultor release, tag is `0.1.0`

[2018-06-20 06:33] rultor commented on #23
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15003-398638673)

[2018-06-20 06:36] rultor commented on #23
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15003-398638673) (spent 3min)

[code]

[2018-06-20 07:09] yegor256 commented on #23
@rultor release, tag is `0.1.0`

[2018-06-20 07:11] rultor commented on #23
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15003-398647469)

[2018-06-20 07:14] rultor commented on #23
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15003-398647469) (spent 3min)

[code]

[2018-06-20 07:22] yegor256 commented on #23
@rultor release, tag is `0.1.0`

[2018-06-20 07:23] rultor commented on #23
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15003-398650268)

[2018-06-20 07:31] yegor256 commented on #23
@rultor release, tag is `0.1.0`

[2018-06-20 07:34] rultor commented on #23
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15003-398652700)

[2018-06-20 07:51] yegor256 commented on #23
@rultor stop

[2018-06-20 07:52] rultor commented on #23
@yegor256 OK, I'll try to stop current task.

[2018-06-20 07:53] rultor commented on #23
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15003-398657871) (spent 18min)

[code]

[2018-06-20 07:55] yegor256 commented on #23
@rultor release, tag is `0.1.0`

[2018-06-20 07:58] rultor commented on #23
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15003-398658750)

[2018-06-20 08:01] rultor commented on #23
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15003-398658750) (spent 3min)

[code]

[2018-06-20 08:02] yegor256 commented on #23
@rultor release, tag is `0.1.0`

[2018-06-20 08:06] rultor commented on #23
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15003-398660675)

[2018-06-20 08:09] rultor commented on #23
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15003-398660675) (spent 3min)

[code]

[2018-06-20 08:10] yegor256 commented on #23
@rultor release, tag is `0.1.0`

[2018-06-20 08:15] rultor commented on #23
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15003-398662829)

[2018-06-20 08:18] rultor commented on #23
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15003-398662829) (spent 3min)

[code]

[2018-06-20 11:27] rultor commented on #23
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15003-398716020)

[2018-06-20 11:34] rultor commented on #23
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15003-398716020) (took me 6min)

[2018-06-20 11:34] #23 closed

[2018-06-20 12:00] 0crat commented on #23
Job `gh:zold-io/papers#23` is not assigned, can't get performer

[2018-06-20 16:10] yegor256 opened #24 "typos and acks section"

[2018-06-20 17:54] Wysie opened #25 "Whitepaper Should Have More Info On Zold Supply"
I noticed zold.io talks briefly about total supply ("The technical cap of the currency is 2.15b ZLD. There is a formula that restricts the speed of emission, allowing no greater than 50% of the total capacity to be issued before May, 2021; the remaining 50% can be issued before the end of 2028") but whitepaper doesn't really touch on this point other than the "Mining Formula" section.

[2018-06-20 17:54] 0crat commented on #25
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-20 17:55] 0crat commented on #25
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.15](https://github.com/zerocracy/farm): Issue: zold-io/papers#25, Action: `opened`

[2018-06-22 19:36] llorllale commented on #10
@yegor256 in the whitepaper, the term `invoice`, outside of its introduction as a term, is only ever used when describing how taxes are paid, but even there it's meaning or purpose is unclear:

the network with a score of 16 or more.  Then, it has to take the invoice
from the score, request the node to lock the score for a minute, and send the
payment of 1 ZLD or less to that node.  The score with

[2018-06-23 15:50] llorllale opened #26 "Network JSON representation of wallets is not documented"
What is the JSON representation of wallets that is sent between nodes?

[2018-06-23 15:50] 0crat commented on #26
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-23 15:50] 0crat commented on #26
@llorllale[/z](https://www.0crat.com/u/llorllale) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB08FTCNQ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-24 08:29] oltdaniel commented on #11
@yegor256 The score is currently based on the hashes a node calculated. These hashes are generated by generating a new `SHA256` hash that has `:strength:` leading zeros. This results in an new alias for the score, `computing power per node`. To make this a more meaningful calculation, we could let the nodes hash the wallets over an over, and set a score based on that, which will lead to the same r

[2018-06-24 08:37] yegor256 commented on #26
@llorllale explained in aba6a96 thanks!

[2018-06-24 08:37] #26 closed

[2018-06-24 08:54] 0crat commented on #26
Job `gh:zold-io/papers#26` is not assigned, can't get performer

[2018-06-24 08:54] 0crat commented on #26
The job is not in WBS, won't close the order

[2018-06-24 14:10] yegor256 commented on #25
@rultor release, tag is `0.2.0`

[2018-06-24 14:11] yegor256 commented on #25
@Wysie check version 0.2.0 please: https://papers.zold.io/wp.pdf I added the section "Total Supply" it briefly explains what's going on. Do you think this is enough?

[2018-06-24 14:12] rultor commented on #25
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15072-399759476)

[2018-06-24 14:15] rultor commented on #25
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15072-399759476) (took me 3min)

[2018-06-24 19:37] #25 closed

[2018-06-24 19:52] 0crat commented on #25
Job `gh:zold-io/papers#25` is not assigned, can't get performer

[2018-06-24 19:52] 0crat commented on #25
The job is not in WBS, won't close the order

[2018-06-25 03:50] yegor256 commented on #11
@oltdaniel so basically you are suggesting to add more text to the initial "body" of the score?

[2018-06-25 17:39] oltdaniel opened #27 "proof of work - which data is used"
It isn't clear which input will be taken for the proof of work `sha256` calculations.

[2018-06-25 17:39] 0crat commented on #27
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-25 17:39] 0crat commented on #27
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB08FTCNQ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-26 18:08] yegor256 opened #28 "front page"

[2018-06-26 18:30] rultor commented on #28
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15104-400416293) (took me 3min)

[2018-06-26 18:39] yegor256 commented on #28
@rultor release, tag is `0.2.2`

[2018-06-26 18:42] rultor commented on #28
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15104-400420198)

[2018-06-26 18:44] rultor commented on #28
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15104-400420198) (spent 3min)

[code]

[2018-06-26 18:58] rultor commented on #28
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15104-400425211)

[2018-06-26 19:01] rultor commented on #28
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15104-400425211) (spent 3min)

[code]

[2018-06-26 19:23] yegor256 commented on #28
@rultor release, tag is `0.2.2`

[2018-06-26 19:23] rultor commented on #28
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15104-400432847)

[2018-06-26 19:30] yegor256 commented on #28
@rultor release, tag is `0.2.3`

[2018-06-26 19:31] rultor commented on #28
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15104-400434868)

[2018-06-26 19:34] rultor commented on #28
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15104-400434868) (took me 3min)

[2018-06-27 04:12] #28 closed

[2018-06-27 05:08] yegor256 opened #29 "travis build"

[2018-06-27 05:30] #29 closed

[2018-06-27 05:30] #24 closed

[2018-06-27 05:45] 0crat commented on #29
The job is not in WBS, won't close the order

[2018-06-27 05:45] 0crat commented on #24
The job is not in WBS, won't close the order

[2018-06-27 05:45] 0crat commented on #24
Job `gh:zold-io/papers#24` is not assigned, can't get performer

[2018-06-27 06:38] 0crat commented on #27
The job [#27](https://github.com/zold-io/papers/issues/27) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CB08FTCNQ/1780645952); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-27 06:38] 0crat commented on #27
Job `gh:zold-io/papers#27` already assigned to @yegor256, can't assign to @yegor256

[2018-06-27 06:38] 0crat commented on #27
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel)

[2018-06-27 06:38] 0crat commented on #27
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-27 06:44] yegor256 commented on #27
@oltdaniel you are right, there were mistakes in the documentation. See the fix in d8cb99c Thanks!

[2018-06-27 06:44] #27 closed

[2018-06-27 06:51] yegor256 commented on #27
@rultor release, tag is `0.2.4`

[2018-06-27 06:52] yegor256 commented on #19
@DronMDF so you are saying that we can get rid of transaction ID entirely?

[2018-06-27 06:53] rultor commented on #27
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15105-400562418)

[2018-06-27 06:56] rultor commented on #27
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15105-400562418) (took me 3min)

[2018-06-27 06:59] 0crat commented on #27
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-27 06:59] 0crat commented on #27
The job [#27](https://github.com/zold-io/papers/issues/27) is now out of scope

[2018-06-27 07:00] yegor256 commented on #13
@DronMDF maybe we will just add a new header `X-Zold-Protocol` and `protocol` JSON element. WDYT?

[2018-06-27 07:11] 0crat commented on #20
The job [#20](https://github.com/zold-io/papers/issues/20) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CB08FTCNQ/1780720264); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-27 07:12] 0crat commented on #20
Job `gh:zold-io/papers#20` already assigned to @yegor256, can't assign to @yegor256

[2018-06-27 07:12] 0crat commented on #20
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dronmdf[/z](https://www.0crat.com/u/dronmdf)

[2018-06-27 07:12] 0crat commented on #20
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-27 07:12] yegor256 commented on #20
@DronMDF fixed in b51c297 Thanks!

[2018-06-27 07:12] #20 closed

[2018-06-27 07:14] yegor256 commented on #11
@oltdaniel what is the objective of all this? What problem are you trying to solve?

[2018-06-27 07:28] 0crat commented on #20
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-27 07:28] 0crat commented on #20
The job [#20](https://github.com/zold-io/papers/issues/20) is now out of scope

[2018-06-27 07:32] 0crat commented on #10
The job [#10](https://github.com/zold-io/papers/issues/10) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CB08FTCNQ/1780741473); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-27 07:32] 0crat commented on #10
Job `gh:zold-io/papers#10` already assigned to @yegor256, can't assign to @yegor256

[2018-06-27 07:33] 0crat commented on #10
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dronmdf[/z](https://www.0crat.com/u/dronmdf)

[2018-06-27 07:33] 0crat commented on #10
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-27 07:33] yegor256 commented on #10
@llorllale @DronMDF I believe it's fixed in ed298e4 Thanks!

[2018-06-27 07:33] #10 closed

[2018-06-27 07:33] yegor256 commented on #10
@rultor release, tag is `0.2.5`

[2018-06-27 07:34] rultor commented on #10
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15106-400572411)

[2018-06-27 07:37] rultor commented on #10
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15106-400572411) (took me 3min)

[2018-06-27 07:40] yegor256 commented on #5
@ajdevy explained in 0a4b24a thanks!

[2018-06-27 07:40] #5 closed

[2018-06-27 07:49] 0crat commented on #10
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-27 07:49] 0crat commented on #10
The job [#10](https://github.com/zold-io/papers/issues/10) is now out of scope

[2018-06-27 07:55] 0crat commented on #5
The job is not in WBS, won't close the order

[2018-06-27 07:55] 0crat commented on #5
Job `gh:zold-io/papers#5` is not assigned, can't get performer

[2018-06-27 08:35] DronMDF commented on #19
@yegor256 No, no...

One wallet can be used on different workstations for payments. It can sharing (For automation payment system for example). Should I require that these nodes support only sequential numbering of transactions? This is superfluous in my opinion. Let in a purse there will be some transactions with identical numbers. It's not a problem if you have enough money.

But the sufficiency

[2018-06-27 08:56] DronMDF commented on #13
@yegor256 Yes, I think the software version is information. There may be alternative implementations. And updating the software is not always an occasion to update the entire network of nodes. The protocol of interaction varies comparatively rarely.

I like X-Zold-Protocol as a strict requirement.
X-Zold-Version for info.

[2018-06-27 13:42] 0crat commented on #13
The job [#13](https://github.com/zold-io/papers/issues/13) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CB08FTCNQ/1781355667); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-27 13:42] 0crat commented on #13
Job `gh:zold-io/papers#13` already assigned to @yegor256, can't assign to @yegor256

[2018-06-27 13:42] 0crat commented on #13
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dronmdf[/z](https://www.0crat.com/u/dronmdf)

[2018-06-27 13:42] 0crat commented on #13
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-27 13:43] yegor256 commented on #13
@DronMDF fixed in f5561d9 thanks!

[2018-06-27 13:43] #13 closed

[2018-06-27 13:58] 0crat commented on #13
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-27 13:58] 0crat commented on #13
The job [#13](https://github.com/zold-io/papers/issues/13) is now out of scope

[2018-06-28 04:45] yegor256 commented on #4
@ajdevy I believe current version of the WP explains it all. If not, feel free to open a new ticket.

[2018-06-28 04:45] #4 closed

[2018-06-28 04:45] yegor256 commented on #3
@ajdevy it's all fixed now, please check the latest version of WP

[2018-06-28 04:45] #3 closed

[2018-06-28 04:51] yegor256 commented on #6
@ajdevy it seems that we may get rid of transaction IDs at all, let's continue in #19

[2018-06-28 04:51] #6 closed

[2018-06-28 05:00] 0crat commented on #4
Job `gh:zold-io/papers#4` is not assigned, can't get performer

[2018-06-28 05:00] 0crat commented on #4
The job is not in WBS, won't close the order

[2018-06-28 05:01] 0crat commented on #3
Job `gh:zold-io/papers#3` is not assigned, can't get performer

[2018-06-28 05:01] 0crat commented on #3
The job is not in WBS, won't close the order

[2018-06-28 05:06] 0crat commented on #6
Job `gh:zold-io/papers#6` is not assigned, can't get performer

[2018-06-28 05:06] 0crat commented on #6
The job is not in WBS, won't close the order

[2018-06-28 07:15] yegor256 commented on #2
@rultor release, tag is `0.3.0`

[2018-06-28 07:15] rultor commented on #2
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15122-400936194)

[2018-06-28 07:18] rultor commented on #2
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15122-400936194) (spent 3min)

[code]

[2018-06-28 07:22] yegor256 commented on #2
@rultor release, tag is `0.3.0`

[2018-06-28 07:23] rultor commented on #2
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15122-400937883)

[2018-06-28 07:32] yegor256 opened #30 "green paper"
Let's create a short version of the white paper, for business non-technical people.

[2018-06-28 07:42] 0crat commented on #2
Job `gh:zold-io/papers#2` is not assigned, can't get performer

[2018-06-28 07:42] 0crat commented on #2
The job is not in WBS, won't close the order

[2018-06-28 09:46] yegor256 commented on #30
@rultor release, tag is `0.4.0`

[2018-06-28 09:47] rultor commented on #30
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15124-400978230)

[2018-06-28 09:51] rultor commented on #30
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15124-400978230) (took me 3min)

[2018-06-28 09:51] #30 closed

[2018-06-28 10:06] 0crat commented on #30
The job is not in WBS, won't close the order

[2018-06-28 10:06] 0crat commented on #30
Job `gh:zold-io/papers#30` is not assigned, can't get performer

[2018-06-28 10:25] yegor256 opened #32 "formula is wrong"
let's fix it

[2018-06-28 10:31] yegor256 commented on #32
@rultor release, tag is `0.5.1`

[2018-06-28 10:32] rultor commented on #32
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15127-400990256)

[2018-06-28 10:35] rultor commented on #32
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15127-400990256) (took me 3min)

[2018-06-28 11:15] #32 closed

[2018-06-28 11:40] 0crat commented on #32
The job is not in WBS, won't close the order

[2018-06-28 11:40] 0crat commented on #32
Job `gh:zold-io/papers#32` is not assigned, can't get performer

[2018-06-28 14:55] yegor256 opened #34 "green paper is incomplete"
Let's make it more detailed

[2018-06-28 19:57] yegor256 commented on #34
@rultor release, tag is `0.5.2`

[2018-06-28 20:08] rultor commented on #34
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15136-401154411)

[2018-06-28 20:09] yegor256 opened #35 "what is micro payment"
Let's add a definition of micro payment and compare us with other currencies.

[2018-06-28 20:11] rultor commented on #34
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15136-401154411) (took me 3min)

[2018-06-28 20:32] #34 closed

[2018-06-28 20:47] 0crat commented on #34
Job `gh:zold-io/papers#34` is not assigned, can't get performer

[2018-06-28 20:47] 0crat commented on #34
The job is not in WBS, won't close the order

[2018-06-29 04:57] yegor256 opened #36 "more into green paper"

[2018-06-29 04:59] yegor256 commented on #36
@rultor release, tag is `0.5.3`

[2018-06-29 05:00] rultor commented on #36
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15140-401247822)

[2018-06-29 05:03] rultor commented on #36
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15140-401247822) (took me 3min)

[2018-06-29 05:13] #36 closed

[2018-06-29 05:24] yegor256 opened #37 "add LaTeX packages to the build"
Let's put them in

[2018-06-29 05:28] 0crat commented on #36
Job `gh:zold-io/papers#36` is not assigned, can't get performer

[2018-06-29 05:28] 0crat commented on #36
The job is not in WBS, won't close the order

[2018-06-29 05:42] yegor256 commented on #37
@rultor release, tag is `0.5.4`

[2018-06-29 05:42] rultor commented on #37
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15141-401253466)

[2018-06-29 05:45] rultor commented on #37
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15141-401253466) (spent 3min)

[code]

[2018-06-29 05:48] yegor256 commented on #37
@rultor release, tag is `0.5.4`

[2018-06-29 05:50] rultor commented on #37
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15141-401254377)

[2018-06-29 05:53] rultor commented on #37
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15141-401254377) (spent 3min)

[code]

[2018-06-29 05:58] yegor256 commented on #37
@rultor release, tag is `0.5.4`

[2018-06-29 06:00] rultor commented on #37
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15141-401255821)

[2018-06-29 06:03] rultor commented on #37
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15141-401255821) (spent 3min)

[code]

[2018-06-29 06:09] yegor256 commented on #37
@rultor release, tag is `0.5.4`

[2018-06-29 06:10] rultor commented on #37
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15141-401257549)

[2018-06-29 06:13] rultor commented on #37
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15141-401257549) (spent 3min)

[code]

[2018-06-29 07:40] yegor256 commented on #37
@rultor release, tag is `0.5.4`

[2018-06-29 07:42] rultor commented on #37
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15141-401274836)

[2018-06-29 07:48] rultor commented on #37
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15141-401274836) (spent 5min)

[code]

[2018-06-29 07:51] yegor256 commented on #37
@rultor release, tag is `0.5.4`

[2018-06-29 07:53] rultor commented on #37
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15141-401277440)

[2018-06-29 07:56] rultor commented on #37
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15141-401277440) (spent 3min)

[code]

[2018-06-29 08:16] yegor256 commented on #37
@rultor release, tag is `0.5.4`

[2018-06-29 08:19] rultor commented on #37
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15141-401283501)

[2018-06-29 08:22] rultor commented on #37
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15141-401283501) (spent 3min)

[code]

[2018-06-29 08:33] yegor256 commented on #37
@rultor release, tag is `0.5.4`

[2018-06-29 08:33] rultor commented on #37
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15141-401287497)

[2018-06-29 08:36] rultor commented on #37
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15141-401287497) (spent 3min)

[code]

[2018-06-29 10:58] yegor256 commented on #37
@rultor release, tag is `0.5.4`

[2018-06-29 11:00] rultor commented on #37
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15141-401321538)

[2018-06-29 11:03] rultor commented on #37
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15141-401321538) (spent 3min)

[code]

[2018-06-29 12:50] yegor256 commented on #37
@rultor release, tag is `0.5.4`

[2018-06-29 12:53] rultor commented on #37
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15141-401344593)

[2018-06-29 12:56] rultor commented on #37
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15141-401344593) (took me 3min)

[2018-06-29 14:44] #37 closed

[2018-06-29 14:59] 0crat commented on #37
Job `gh:zold-io/papers#37` is not assigned, can't get performer

[2018-06-29 14:59] 0crat commented on #37
The job is not in WBS, won't close the order

[2018-06-30 19:43] yegor256 opened #39 "green paper russian"
Let's translate

[2018-06-30 20:41] yegor256 commented on #39
@rultor release, tag is `0.6.0`

[2018-06-30 20:42] rultor commented on #39
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15160-401565110)

[2018-06-30 20:45] rultor commented on #39
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15160-401565110) (spent 3min)

[code]

[2018-06-30 20:54] yegor256 commented on #39
@rultor release, tag is `0.6.0`

[2018-06-30 20:57] rultor commented on #39
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15160-401565775)

[2018-06-30 20:59] rultor commented on #39
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15160-401565775) (spent 3min)

[code]

[2018-07-01 04:44] yegor256 commented on #39
@rultor release, tag is `0.6.0`

[2018-07-01 04:46] rultor commented on #39
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15160-401582685)

[2018-07-01 04:49] rultor commented on #39
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15160-401582685) (spent 3min)

[code]

[2018-07-01 07:10] yegor256 commented on #39
@rultor release, tag is `0.6.0`

[2018-07-01 07:11] rultor commented on #39
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15160-401588459)

[2018-07-01 10:52] #39 closed

[2018-07-01 11:07] 0crat commented on #39
Job `gh:zold-io/papers#39` is not assigned, can't get performer

[2018-07-01 11:07] 0crat commented on #39
The job is not in WBS, won't close the order

[2018-07-01 11:20] yegor256 opened #40 "typos"

[2018-07-01 11:21] yegor256 commented on #40
@rultor release, tag is `0.6.1`

[2018-07-01 11:21] #40 closed

[2018-07-01 11:21] rultor commented on #40
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15163-401600307)

[2018-07-01 11:37] 0crat commented on #40
Job `gh:zold-io/papers#40` is not assigned, can't get performer

[2018-07-01 11:37] 0crat commented on #40
The job is not in WBS, won't close the order

[2018-07-04 21:50] oltdaniel opened #41 "corrupt nodes can ignore wallets"
Currently, it is possible that nodes can repeatedly delete specific wallets. Since there is no required connection between the wallets, the node can still be seen as valid by everyone else. The result is, that an attacker can provide nodes, that ignore certain wallets.

[2018-07-04 21:50] 0crat commented on #41
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-04 21:50] 0crat commented on #41
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB08FTCNQ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-05 16:14] 0crat commented on #41
Job [#41](https://github.com/zold-io/papers/issues/41) is now in scope, role is `DEV`

[2018-07-05 16:18] 0crat commented on #41
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel)

[2018-07-05 16:39] 0crat commented on #41
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#41](https://github.com/zold-io/papers/issues/41); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in

[2018-07-10 17:37] 0crat commented on #41
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#41](https://github.com/zold-io/papers/issues/41); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in

[2018-07-11 14:46] 0crat commented on #41
The job [#41](https://github.com/zold-io/papers/issues/41) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CB08FTCNQ/1921447437); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-07-11 14:46] 0crat commented on #41
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-12 23:13] llorllale opened #44 "Why does a Wallet have a 'network'?"
What is the purpose of this network name? It isn't mentioned in `RESTful API`.

[2018-07-12 23:13] 0crat commented on #44
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-12 23:13] 0crat commented on #44
@llorllale[/z](https://www.0crat.com/u/llorllale) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB08FTCNQ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-28 21:02] oltdaniel opened #45 "51% attack - describe the results"
The 51% attack in Zold can only include deleting certain transactions, since they are protected by the RSA signatures. All in one, this can reduce the total amount of zold in a wallet by removing certain transactions nor deleting the emission transactions which will completely erases the zold count. It is also possible to change the ownership of the zold root wallet, by providing a totally new ide

[2018-07-28 21:02] 0crat commented on #45
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-28 21:02] 0crat commented on #45
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB08FTCNQ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-29 04:45] oltdaniel commented on #11
@yegor256 Hashing the wallets could change the score from `computing power per node` to `importance of the node` since it provides a hashing power with wallets. On this way, a high number of wallets and computinf power gives a high score which then represents the importance of the node to the overall network.

[2018-07-29 05:18] yegor256 commented on #11
@oltdaniel how can we validate the number of wallets a node stores? A node can easily fake that number and claim to contain a million wallets. How can we check that?

[2018-07-30 11:48] yegor256 opened #46 "ZC executive summary"

[2018-07-30 11:49] yegor256 commented on #46
@rultor release, tag is `0.7.0`

[2018-07-30 11:49] rultor commented on #46
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15524-408836712)

[2018-07-30 11:52] rultor commented on #46
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15524-408836712) (took me 3min)

[2018-07-30 11:59] #46 closed

[2018-07-30 12:14] 0crat commented on #46
The job is not in WBS, won't close the order

[2018-07-30 12:14] 0crat commented on #46
Job `gh:zold-io/papers#46` is not assigned, can't get performer

[2018-07-31 06:12] yegor256 opened #47 "business plan"
Let's add business plan section to the executive summary

[2018-07-31 06:43] yegor256 commented on #47
@rultor release, tag is `0.7.1`

[2018-07-31 06:45] rultor commented on #47
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15533-409112961)

[2018-07-31 06:48] rultor commented on #47
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15533-409112961) (took me 3min)

[2018-07-31 07:03] #47 closed

[2018-07-31 07:39] yegor256 opened #48 "thumbs"

[2018-07-31 07:40] yegor256 commented on #48
@rultor release, tag is `0.7.2`

[2018-07-31 07:41] rultor commented on #48
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15534-409126351)

[2018-07-31 07:44] rultor commented on #48
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15534-409126351) (spent 3min)

[code]

[2018-07-31 07:46] yegor256 commented on #48
@rultor release, tag is `0.7.2`

[2018-07-31 07:49] rultor commented on #48
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15534-409127849)

[2018-07-31 07:51] rultor commented on #48
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15534-409127849) (spent 3min)

[code]

[2018-07-31 07:55] yegor256 commented on #48
@rultor release, tag is `0.7.2`

[2018-07-31 07:57] rultor commented on #48
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15534-409130474)

[2018-07-31 08:00] rultor commented on #48
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15534-409130474) (spent 3min)

[code]

[2018-07-31 08:03] yegor256 commented on #48
@rultor release, tag is `0.7.2`

[2018-07-31 08:05] rultor commented on #48
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15534-409132663)

[2018-07-31 08:08] rultor commented on #48
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15534-409132663) (took me 3min)

[2018-07-31 08:24] #48 closed

[2018-07-31 08:27] yegor256 commented on #48
@rultor release, tag is `0.7.3`

[2018-07-31 08:32] rultor commented on #48
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15534-409139196) (spent 3min)

[code]

[2018-07-31 08:39] yegor256 commented on #48
@rultor release, tag is `0.7.3`

[2018-07-31 08:40] 0crat commented on #48
The job is not in WBS, won't close the order

[2018-07-31 08:40] 0crat commented on #48
Job `gh:zold-io/papers#48` is not assigned, can't get performer

[2018-07-31 08:42] rultor commented on #48
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15534-409142749)

[2018-07-31 08:45] rultor commented on #48
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15534-409142749) (took me 3min)

[2018-08-06 20:00] llorllale opened #49 "Why is max per trx for Tax 1 Zold?"
Why is the maximum amount per transaction for tax payment set to 1 Zold?

the network with a score of 16 or more.  Then, it has to take the invoice
from the score, request the node to lock the score for a minute, and **send the
payment of 1 ZLD or less** to that node.  The score with exactly 16 suffixes
has to be placed into the details of the transaction, prefixed by
TAXES

[2018-08-06 20:00] 0crat commented on #49
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-08-06 20:00] 0crat commented on #49
@llorllale[/z](https://www.0crat.com/u/llorllale) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB08FTCNQ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-07 07:00] yegor256 commented on #49
@llorllale to ensure that tax payments are distributed more or less equally between nodes

[2018-08-07 07:00] #49 closed

[2018-08-07 07:16] 0crat commented on #49
The job is not in WBS, won't close the order

[2018-08-07 07:16] 0crat commented on #49
Job `gh:zold-io/papers#49` is not assigned, can't get performer

[2018-08-07 07:18] yegor256 opened #50 "bp updates"

[2018-08-07 08:08] yegor256 commented on #50
@rultor release, tag is `0.7.4`

[2018-08-07 08:10] rultor commented on #50
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15609-410971735)

[2018-08-07 08:13] rultor commented on #50
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15609-410971735) (took me 3min)

[2018-08-07 08:14] #50 closed

[2018-08-07 08:30] 0crat commented on #50
The job is not in WBS, won't close the order

[2018-08-07 08:30] 0crat commented on #50
Job `gh:zold-io/papers#50` is not assigned, can't get performer

[2018-08-07 08:48] yegor256 opened #51 "12pt"

[2018-08-07 09:00] yegor256 commented on #51
@rultor release, tag is `0.7.5`

[2018-08-07 09:00] #51 closed

[2018-08-07 09:02] rultor commented on #51
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15610-410986450)

[2018-08-07 09:05] rultor commented on #51
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15610-410986450) (took me 3min)

[2018-08-07 09:16] 0crat commented on #51
The job is not in WBS, won't close the order

[2018-08-07 09:16] 0crat commented on #51
Job `gh:zold-io/papers#51` is not assigned, can't get performer

[2018-08-07 11:07] yegor256 opened #52 "presentation deck"

[2018-08-07 12:51] yegor256 commented on #52
@rultor release, tag is `0.8.0`

[2018-08-07 12:54] rultor commented on #52
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15611-411044985)

[2018-08-07 12:57] rultor commented on #52
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15611-411044985) (spent 3min)

[code]

[2018-08-07 12:59] #52 closed

[2018-08-07 12:59] yegor256 opened #53 "sorting"

[2018-08-07 13:00] yegor256 commented on #53
@rultor release, tag is `0.8.1`

[2018-08-07 13:02] rultor commented on #53
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15612-411047508)

[2018-08-07 13:05] rultor commented on #53
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15612-411047508) (took me 3min)

[2018-08-07 13:09] #53 closed

[2018-08-07 13:11] yegor256 opened #54 "typos"

[2018-08-07 13:14] llorllale opened #55 "What is the benefit of spreading out tax payment among several remote nodes?"
(continued from https://github.com/zold-io/papers/issues/49#issuecomment-410954743)

What is the benefit of spreading out tax payment among several nodes? Why not just pay taxes to a single node and be done with it?

Let's note that a really active wallet will probably never have a debt that reaches 2 Zold and hence will probably always be paying taxes to a single node.

[2018-08-07 13:14] 0crat commented on #55
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-08-07 13:14] 0crat commented on #55
@llorllale[/z](https://www.0crat.com/u/llorllale) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB08FTCNQ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-07 13:16] 0crat commented on #52
The job is not in WBS, won't close the order

[2018-08-07 13:16] 0crat commented on #52
Job `gh:zold-io/papers#52` is not assigned, can't get performer

[2018-08-07 13:17] yegor256 commented on #54
@rultor release, tag is `0.8.2`

[2018-08-07 13:25] 0crat commented on #53
The job is not in WBS, won't close the order

[2018-08-07 13:25] 0crat commented on #53
Job `gh:zold-io/papers#53` is not assigned, can't get performer

[2018-08-07 13:26] rultor commented on #54
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15613-411053422) (took me 3min)

[2018-08-07 13:27] #54 closed

[2018-08-07 13:43] 0crat commented on #54
The job is not in WBS, won't close the order

[2018-08-07 13:43] 0crat commented on #54
Job `gh:zold-io/papers#54` is not assigned, can't get performer

[2018-08-08 04:17] yegor256 opened #56 "more team members"

[2018-08-08 14:19] yegor256 commented on #56
@rultor release, tag is `0.8.3`

[2018-08-08 14:28] #56 closed

[2018-08-08 14:45] 0crat commented on #56
The job is not in WBS, won't close the order

[2018-08-08 14:45] 0crat commented on #56
Job `gh:zold-io/papers#56` is not assigned, can't get performer

[2018-08-11 09:54] yegor256 opened #57 "RU deck"

[2018-08-12 09:25] rultor commented on #57
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15662-412329964)

[2018-08-12 09:28] rultor commented on #57
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15662-412329964) (took me 3min)

[2018-08-12 09:31] #57 closed

[2018-08-12 09:41] yegor256 opened #58 "more footnotes in ru deck"

[2018-08-12 09:58] 0crat commented on #57
The job is not in WBS, won't close the order

[2018-08-12 09:58] 0crat commented on #57
Job `gh:zold-io/papers#57` is not assigned, can't get performer

[2018-08-12 10:03] yegor256 commented on #58
@rultor release, tag is `0.9.1`

[2018-08-12 10:04] rultor commented on #58
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15663-412331840)

[2018-08-12 10:07] rultor commented on #58
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15663-412331840) (took me 3min)

[2018-08-12 10:35] #58 closed

[2018-08-12 10:53] 0crat commented on #58
The job is not in WBS, won't close the order

[2018-08-12 10:55] 0crat commented on #58
Job `gh:zold-io/papers#58` is not assigned, can't get performer

[2018-08-13 05:44] yegor256 opened #59 "quotes from customers"

[2018-08-13 06:29] yegor256 commented on #59
@rultor release, tag `0.9.2`

[2018-08-13 06:31] rultor commented on #59
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15670-412420122)

[2018-08-13 06:31] rultor commented on #59
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15670-412420122) (spent 21s)

[code]

[2018-08-13 09:06] yegor256 commented on #59
@rultor release, tag is `0.9.2`

[2018-08-13 09:09] rultor commented on #59
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15670-412454587)

[2018-08-13 09:12] rultor commented on #59
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15670-412454587) (took me 4min)

[2018-08-13 11:10] #59 closed

[2018-08-13 12:10] 0crat commented on #59
Job `gh:zold-io/papers#59` is not assigned, can't get performer

[2018-08-13 12:10] 0crat commented on #59
The job is not in WBS, won't close the order

[2018-08-13 14:38] yegor256 opened #60 "more facts into RU deck"

[2018-08-13 14:44] yegor256 commented on #60
@rultor release, tag is `0.9.3`

[2018-08-13 14:47] rultor commented on #60
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15674-412543257)

[2018-08-13 14:50] rultor commented on #60
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15674-412543257) (took me 3min)

[2018-08-13 15:10] #60 closed

[2018-08-13 15:25] 0crat commented on #60
Job `gh:zold-io/papers#60` is not assigned, can't get performer

[2018-08-13 15:25] 0crat commented on #60
The job is not in WBS, won't close the order

[2018-08-15 07:22] yegor256 opened #61 "team into ES"

[2018-08-15 07:29] yegor256 commented on #61
@rultor release, tag is `0.9.4`

[2018-08-15 07:30] #61 closed

[2018-08-15 07:31] rultor commented on #61
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15694-413117102)

[2018-08-15 07:37] rultor commented on #61
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15694-413117102) (took me 5min)

[2018-08-15 07:45] 0crat commented on #61
Job `gh:zold-io/papers#61` is not assigned, can't get performer

[2018-08-15 07:45] 0crat commented on #61
The job is not in WBS, won't close the order

[2018-09-28 12:36] DronMDF opened #62 "Transacton format for signature is different between wp and reality."
This is a line wrom wp...
12345678abcdef 003a 2017-07-19T21:24:51Z ffffffff9c0ccccd Ui0wpLu7 98bb82c81735c4ee For services

Real transaction string look like this:
17737fee5b825835 1195 2018-08-23T17:45:22Z -536870912 paDRj2g1 62e329426a673e68 Hosting bonus for 138.68.95.144 4096 11

1) Transaction id should be int, not hex.
2) amount should be int, not hex.

[2018-09-28 12:36] 0crat commented on #62
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-09-28 12:36] 0crat commented on #62
@dronmdf[/z](https://www.0crat.com/u/dronmdf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB08FTCNQ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-22 09:14] DronMDF opened #63 "In Taxes chapter term "The most active remote node" is not clear."
What should a node do to be considered the most active?

Should the node have a maximum score? - This will lead to the fact that the taxi will always receive the maximum power node.

What are the criteria for activity?
Where is the motivation for maintaining nodes?

[2018-10-22 09:32] DronMDF commented on #11
@oltdaniel @yegor256 I have other idea about this.

Current score does not guarantee that the node gives valid information.
The node does not pay for the information that gives.

The proposal:
Each node mine current content of wallet... <wallet hash> + <nonce> -> <wallet approve value>
For each wallet in database.

- If client get wallet - node pass approve value to them. Otherwise we do not trust

[2018-11-23 14:49] yegor256 opened #64 "freelance deck"

[2018-11-26 17:48] yegor256 commented on #64
@rultor release, tag is `0.10.0`

[2018-11-26 17:53] rultor commented on #64
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16657-441732299) (spent 2min)

[code]

[2018-11-26 18:02] yegor256 commented on #64
@rultor release, tag is `0.10.0`

[2018-11-26 18:03] rultor commented on #64
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16657-441737074)

[2018-11-26 18:06] rultor commented on #64
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16657-441737074) (spent 2min)

[code]

[2018-11-26 18:08] yegor256 commented on #64
@rultor release, tag is `0.10.0`

[2018-11-26 18:10] rultor commented on #64
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16657-441739160)

[2018-11-26 18:14] rultor commented on #64
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16657-441739160) (took me 4min)

[2018-11-26 19:37] #64 closed

[2018-11-26 19:53] 0crat commented on #64
Job `gh:zold-io/papers#64` is not assigned, can't get performer

[2018-11-26 19:53] 0crat commented on #64
This job is not in scope

[2018-11-27 19:59] yegor256 opened #66 "feature deck"
Let's list all Zerocracy features

[2018-11-29 18:54] yegor256 commented on #66
@rultor release, tag is `0.11.0`

[2018-11-29 18:56] rultor commented on #66
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16703-442950485)

[2018-11-29 19:01] rultor commented on #66
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16703-442950485) (took me 5min)

[2018-11-29 19:02] #66 closed

[2018-11-29 19:04] yegor256 commented on #66
@rultor release, tag is `0.11.1`

[2018-11-29 19:05] rultor commented on #66
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16703-442954245)

[2018-11-29 19:08] rultor commented on #66
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16703-442954245) (took me 2min)

[2018-11-29 19:11] yegor256 commented on #66
@rultor release, tag is `0.11.2`

[2018-11-29 19:18] rultor commented on #66
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16703-442956677) (took me 2min)

[2018-11-29 19:18] 0crat commented on #66
Job `gh:zold-io/papers#66` is not assigned, can't get performer

[2018-11-29 19:18] 0crat commented on #66
This job is not in scope

[2018-12-03 06:14] dapi opened #68 "We can’t believe to current timestamp parsed from score of external node"
That is why we can’t decide is score still alive or not and can’t really know how long has it been calculating.

Possible solution is to have something `trusted network time`, to compare received score time with it.

[2018-12-03 06:14] 0crat commented on #68
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-03 06:14] 0crat commented on #68
@dapi[/z](https://www.0crat.com/u/dapi) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB08FTCNQ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-03 06:45] yegor256 commented on #68
@dapi can you please explain what exactly will be done by the fraudulent node in order to compromise our protocol?

[2018-12-03 08:06] dapi commented on #68
Change node’s local time into the future and spend whole time of shifted period to calculate score’s value instead of expected 24 hours.

[2018-12-10 11:59] yegor256 commented on #68
@dapi I quote the White Paper: "The score is only valid when the starting time is earlier than
the current time, but not earlier than 24 hours ago." Thus, every client, which will see your score, will just ignore it as "invalid" if your time is ahead in the future, comparing to the local time _of the client_.

[2018-12-23 08:46] yegor256 commented on #68
@dapi This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-12-23 08:46] #68 closed

[2018-12-23 08:47] yegor256 opened #69 "investment offer"
Let's create it

[2018-12-23 09:03] 0crat commented on #68
Job `gh:zold-io/papers#68` is not assigned, can't get performer

[2018-12-23 09:03] 0crat commented on #68
This job is not in scope

[2018-12-23 16:36] yegor256 commented on #69
@rultor release, tag is `0.12.0`

[2018-12-23 16:36] rultor commented on #69
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17017-449648399)

[2018-12-23 16:38] rultor commented on #69
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17017-449648399) (spent 2min)

[code]

[2018-12-23 16:42] yegor256 commented on #69
@rultor release, tag is `0.12.0`

[2018-12-23 16:43] rultor commented on #69
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17017-449648865)

[2018-12-23 16:45] rultor commented on #69
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17017-449648865) (spent 2min)

[code]

[2018-12-23 17:02] yegor256 commented on #69
@rultor release, tag is `0.12.0`

[2018-12-23 17:02] rultor commented on #69
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17017-449650342)

[2018-12-23 17:05] rultor commented on #69
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17017-449650342) (took me 3min)

[2018-12-23 17:06] #69 closed

[2018-12-23 17:17] yegor256 opened #70 "russian offer"

[2018-12-23 18:12] yegor256 commented on #70
@rultor release, tag is `0.13.0`

[2018-12-23 18:13] rultor commented on #70
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17020-449654472)

[2018-12-23 18:16] rultor commented on #70
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17020-449654472) (took me 3min)

[2018-12-23 18:19] #70 closed

[2018-12-23 18:35] 0crat commented on #70
Job `gh:zold-io/papers#70` is not assigned, can't get performer

[2018-12-23 18:37] 0crat commented on #70
This job is not in scope

[2018-12-24 05:55] dapi commented on #68
I'm not sure. I believe you must not use timestamp  to check or trust given score in any cases.

[2018-12-24 16:12] yegor256 opened #71 "links to media in offer-ru"

[2018-12-24 16:46] yegor256 commented on #71
@rultor release, tag is `0.13.1`

[2018-12-24 16:47] rultor commented on #71
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17029-449753982)

[2018-12-24 16:50] rultor commented on #71
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17029-449753982) (took me 3min)

[2018-12-24 16:51] #71 closed

[2018-12-24 17:08] 0crat commented on #71
Job `gh:zold-io/papers#71` is not assigned, can't get performer

[2018-12-24 17:08] 0crat commented on #71
This job is not in scope

[2019-01-01 19:03] yegor256 opened #73 "fin model"
Let's draft it.

[2019-01-05 09:48] yegor256 opened #74 "list all documents in front page"
Let's list them

[2019-01-05 10:11] #74 closed

[2019-01-05 10:11] yegor256 commented on #73
@rultor release, tag is `0.14.0`

[2019-01-05 10:12] rultor commented on #73
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17161-451643246)

[2019-01-05 10:15] rultor commented on #73
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17161-451643246) (took me 3min)

[2019-01-05 10:19] #73 closed

[2019-01-05 10:20] yegor256 commented on #73
@rultor release, tag is `0.14.1`

[2019-01-05 10:35] 0crat commented on #74
This job is not in scope

[2019-01-05 10:35] 0crat commented on #73
Job `gh:zold-io/papers#73` is not assigned, can't get performer

[2019-01-05 10:35] 0crat commented on #73
This job is not in scope

[2019-01-07 16:40] yegor256 opened #75 "get rid of emission formula/limitation"
We don't need that.

[2019-01-07 16:42] yegor256 commented on #75
@rultor release, tag is `0.15.0`

[2019-01-07 16:42] rultor commented on #75
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17202-451997878)

[2019-01-07 16:45] rultor commented on #75
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17202-451997878) (took me 3min)

[2019-01-07 16:46] #75 closed

[2019-01-07 17:06] 0crat commented on #75
Job `gh:zold-io/papers#75` is not assigned, can't get performer

[2019-01-07 17:06] 0crat commented on #75
This job is not in scope

[2019-01-09 11:32] yegor256 opened #76 "buyers don't pay fees"

[2019-01-09 11:34] yegor256 commented on #76
@rultor release, tag is `0.15.1`

[2019-01-09 11:34] rultor commented on #76
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17250-452665741)

[2019-01-09 11:37] rultor commented on #76
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17250-452665741) (took me 3min)

[2019-01-09 11:40] #76 closed

[2019-01-09 11:56] 0crat commented on #76
Job `gh:zold-io/papers#76` is not assigned, can't get performer

[2019-01-09 11:58] 0crat commented on #76
This job is not in scope

[2019-03-01 14:48] yegor256 opened #78 "february 2019 investor snapshot"

[2019-03-01 15:11] yegor256 commented on #78
@rultor release, tag is `0.16.0`

[2019-03-01 15:13] rultor commented on #78
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18093-468697178)

[2019-03-01 15:16] rultor commented on #78
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18093-468697178) (spent 3min)

[code]

[2019-03-01 15:25] yegor256 commented on #78
@rultor release, tag is `0.16.0`

[2019-03-01 15:26] rultor commented on #78
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18093-468702017)

[2019-03-01 15:29] rultor commented on #78
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18093-468702017) (took me 2min)

[2019-03-01 15:29] #78 closed

[2019-03-01 15:49] 0crat commented on #78
Job `gh:zold-io/papers#78` is not assigned, can't get performer

[2019-03-01 15:50] 0crat commented on #78
This job is not in scope

[2019-04-02 10:58] yegor256 opened #79 "snapshot 6"

[2019-04-02 10:59] yegor256 commented on #79
@rultor release, tag is `0.17.0`

[2019-04-02 10:59] rultor commented on #79
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18463-478946582)

[2019-04-02 11:01] rultor commented on #79
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18463-478946582) (spent 2min)

[code]

[2019-04-02 12:34] yegor256 commented on #79
@rultor release, tag is `0.17.0`

[2019-04-02 12:35] rultor commented on #79
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18463-478975009)

[2019-04-02 12:43] rultor commented on #79
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18463-478975009) (spent 8min)

[code]

[2019-04-02 12:50] yegor256 commented on #79
@rultor release, tag is `0.17.0`

[2019-04-02 12:50] rultor commented on #79
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18463-478980267)

[2019-04-02 13:01] rultor commented on #79
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18463-478980267) (spent 10min)

[code]

[2019-04-02 18:19] #79 closed

[2019-04-02 18:20] yegor256 commented on #79
@rultor release, tag is `0.17.0`

[2019-04-02 18:21] rultor commented on #79
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18463-479131504)

[2019-04-02 18:23] rultor commented on #79
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18463-479131504) (spent 2min)

[code]

[2019-04-02 18:38] 0crat commented on #79
Job `gh:zold-io/papers#79` is not assigned, can't get performer

[2019-04-02 18:40] 0crat commented on #79
This job is not in scope

[2019-06-25 06:37] yegor256 opened #81 "gazeta"

[2019-06-25 06:37] yegor256 opened #82 "gazeta"

[2019-06-25 06:47] yegor256 commented on #82
@rultor release, tag is `0.16.1`

[2019-06-25 06:48] rultor commented on #82
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19322-505310213)

[2019-06-25 06:50] rultor commented on #82
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19322-505310213) (spent 2min)

[code]

[2019-06-25 06:53] yegor256 commented on #82
@rultor release, tag is `0.16.1`

[2019-06-25 06:54] rultor commented on #82
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19322-505312040)

[2019-06-25 06:56] rultor commented on #82
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19322-505312040) (spent 2min)

[code]

[2019-06-25 06:58] yegor256 commented on #82
@rultor release, tag is `0.16.1`

[2019-06-25 06:58] rultor commented on #82
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19322-505313710)

[2019-06-25 07:00] rultor commented on #82
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19322-505313710) (spent 2min)

[code]

[2019-06-25 07:11] yegor256 commented on #82
@rultor release, tag is `0.16.1`

[2019-06-25 07:12] rultor commented on #82
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19322-505317579)

[2019-06-25 07:14] rultor commented on #82
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19322-505317579) (spent 2min)

[code]

[2019-06-25 07:35] yegor256 commented on #82
@rultor release, tag is `0.16.1`

[2019-06-25 07:36] rultor commented on #82
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19322-505324906)

[2019-06-25 07:38] rultor commented on #82
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19322-505324906) (spent 2min)

[code]

[2019-06-25 09:39] yegor256 commented on #82
@rultor release, tag is `0.16.1`

[2019-06-25 09:39] rultor commented on #82
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19322-505368534)

[2019-06-25 09:43] rultor commented on #82
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19322-505368534) (took me 3min)

[2019-06-25 11:07] #82 closed

[2019-06-25 11:22] 0crat commented on #82
Job `gh:zold-io/papers#82` is not assigned, can't get performer

[2019-06-25 11:23] 0crat commented on #82
This job is not in scope

[2020-05-05 17:27] yegor256 opened #83 "get rid of the investment offer"

[2020-05-05 17:29] yegor256 commented on #83
@rultor release, tag is `0.17.0`

[2020-05-05 17:31] rultor commented on #83
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21970-624197902)

[2020-05-05 17:40] rultor commented on #83
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21970-624197902) (took me 9min)

[2020-05-05 17:51] #83 closed

[2020-05-05 18:08] 0crat commented on #83
Job `gh:zold-io/papers#83` is not assigned, can't get performer

[2020-09-16 05:22] yegor256 opened #84 "remove offer from the site"

[2020-09-16 05:23] yegor256 commented on #84
@rultor release, tag is `0.18.0`

[2020-09-16 05:24] rultor commented on #84
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23326-693178094)

[2020-09-16 05:34] rultor commented on #84
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23326-693178094) (took me 9min)

[2020-09-16 05:38] #84 closed

[2020-09-16 06:11] 0crat commented on #84
Job `gh:zold-io/papers#84` is not assigned, can't get performer

[2022-09-10 04:46] 0crat commented on #41
@yegor256[/z](https://www.0crat.com/u/yegor256) I see that you unassigned this issue; the order is still assigned to @yegor256[/z](https://www.0crat.com/u/yegor256) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)